
#ignore thumbnails created by windows
Thumbs.db
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
cache/
nbproject/private/private.xml

cache/frontend/dev/config/config_autoload.yml.php
cache/frontend/dev/config/config_config_handlers.yml.php
cache/frontend/dev/config/modules_sbtm_config_view.yml.php
cache\frontend\dev\config\config_autoload.yml.php
cache\frontend\dev\config\config_config_handlers.yml.php
cache\frontend\dev\config\config_databases.yml.php
cache\frontend\dev\config\config_factories.yml.php
cache\frontend\dev\config\config_routing.yml.php
cache\frontend\dev\config\config_settings.yml.php
cache\frontend\dev\config\modules_sbtm_config_filters.yml.php
cache\frontend\dev\config\modules_sbtm_config_module.yml.php
cache\frontend\dev\config\modules_sbtm_config_security.yml.php
cache\frontend\dev\config\modules_sbtm_config_view.yml.php